
.header {
  background-color: #2142bb; 
  color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  width: auto;
}

.header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 80px;
  width: auto;
  padding: 0 24px;
}

/* Стили логотипа */
.logo h1 {
  font-size: 32px;
  margin: 0;
  color: white;
  font-family: 'NunitoSemiBold', sans-serif;
}

/* Центрирование меню */
.menu-wrapper {
  display: flex;
  justify-content: center;
}

/* Стили навигации (меню) */
.desktop-menu {
  display: flex;
  gap: 24px; /* Расстояние между ссылками */
}

.desktop-menu .menu-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'NunitoReg', sans-serif;
  transition: color 0.3s ease;
}

.desktop-menu .menu-item:hover {
  color: #60A5FA;
}

.actions {
  display: flex;
  gap: 16px;
  justify-self: end;
}

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #3255d357;
}

.search-input input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-family: 'NunitoLight', sans-serif;
}

.search-input input::placeholder {
  color: #fcfdfecf;
}

.search-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.search-button:hover {
  color: #60A5FA;
}

.action-button {
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.action-button:hover {
  color: #60A5FA;
}

.cart-button {
  position: relative;
  font-size: 32px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #df7341;
  color: white;
  font-size: 18px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'NunitoSemiBold', sans-serif;
}
